{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load socialaccount %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="banner-area organic-breadcrumb " style="">
<!--  <div class="container mx-auto d-block" style="background-color:#fff;margin-top:6%;padding:1px;box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);">-->
<!--          <h1 style="text-align:center">{% trans "Sign Up" %}</h1>-->
<!--      <p style="text-align:center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>-->
<!--    <div class="row">-->
<!--      <div class="col-md-7" >-->
<!--       <img src="{% static 'img/features/form.png' %}" width="440px" style="position:absolute;margin-left:10%" alt="">-->
<!--      </div>-->
<!--      <div class="col-md-2">-->
<!--        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">-->
<!--  {% csrf_token %}-->
<!--  {{ form.username|add_class:"form-control my_form2" }}-->
<!--  {{ form.email|add_class:"form-control my_form2" }}-->
<!--  {{ form.password1|add_class:"form-control my_form2" }}-->
<!--  {{ form.password2|add_class:"form-control my_form2" }}-->
<!--  {% if redirect_field_value %}-->
<!--  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />-->
<!--  {% endif %}-->
<!--  <button class="btn btn-outline-primary mx-auto d-block m-2 float-right" type="submit">{% trans "Sign Up" %} &raquo;</button>-->
<!--</form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

    <div class="container col-md-6">
 <ul class="socialaccount_providers mt-5" style="background-color:#fff;">
        {% get_providers as socialaccount_providers %}
<h3 class="text-center p-3" style="font-weight:600;margin-top:20px">{% trans 'Register Page' %}</h3>
    </ul>

    <div class="well login-well" style="">
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers1" >
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %} {% if form.non_field_errors %}
                    <div class="alert alert-warning">
                        <ul class="alert-message">
                            {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="{% if form.username.errors %}has-error{% endif %}" >
                        <span class=" glyphicon glyphicon-envelope" style="border-radius:10%"></span>
                        <br>
                        {{ form.username|add_class:"form-control my_form" }}
                    </div>

                    <div class="{% if form.email.errors %}has-error{% endif %}">
                        <span class="p-2 glyphicon glyphicon-lock"></span>
                        {{ form.email|add_class:"form-control my_form"  }}
                    </div>

                    <div class="{% if form.password1.errors %}has-error{% endif %}">
                        <span class="p-2 glyphicon glyphicon-lock"></span>
                        {{ form.password1|add_class:"form-control my_form"  }}
                    </div>

                   <div class="{% if form.password2.errors %}has-error{% endif %}">
                        <span class="p-2 glyphicon glyphicon-lock"></span>
                        {{ form.password2|add_class:"form-control my_form"  }}
                    </div>
                  <br>
                    {% if redirect_field_value %}
                    <input class="my_form" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="btn-div pull-center my_form">
                       <button class="primary-btn mx-auto d-block" style="border:none" type="submit">{% trans "Sign Up" %}</button>
                    </div>
                    <div class="my_form p-2">
                        <small><a class="text-muted" style="font-size:15px;margin-top:41px" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></small>
                        <small><a class="text-muted" style="font-size:15px;padding:2px;float:right" href="{% url 'account_login' %}">{% trans 'Sign In' %}</a></small>
                    </div>
                </form>
            </ul>
        </div>
        <hr>

    </div>
</div>

{% endblock %}
